.site-header {
	width: 100%;

	> .wrapper {
		padding: 0;
	}

	@mixin atMedium {
		background-color: rgba($mainBlue,0.3);
		position: absolute;
		z-index: 100;
		padding: 0.6rem 0;

		> .wrapper {
			padding-left: 18px;
			padding-right: 18px;
		}
	}

	&__btn-container {
		padding-top: 10px;
		@mixin atMedium {
			padding-top: 0;
			float: right;
		}
	}

	&__logo {
		background: $mainBlue;
		padding: 15px 26px;

		@mixin atMedium {
			position: absolute;
			top: 0;
			padding: 25px 36px;
		}
	}

	&__logo__graphic {
		text-indent: -9999px;
		transform: scale(0.8);
		margin: 0 auto;

		@mixin atMedium {
			transform: scale(1);
		}

	}

	&__menu-content {
		opacity: 0;
		text-align: center;
		transition: all 0.3s ease-out;
		position: absolute;
		z-index: -10;

		&--is-visible {
			z-index: 200;
			width: 100%;
			opacity: 1;
			background: rgba($mainBlue, 0.55);
		}

		@mixin atMedium {
			opacity: 1;
			z-index: 1;
			position: static;
		}
	}

	&__menu-icon {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 10px;
		right: 10px;

		&__bar {
			position: absolute;
			width: 20px;
			height: 3px;
			background: #fff;
			left: 0;
			transition: all 0.3s ease-out;

			&--top {
				top: 0;
				transform-origin: 0 0;
			}

			&--middle {
				top: 8px;
			}

			&--bottom {
				top: 16px;
				transform-origin: 0 100%;
			}
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-icon--close-x {

		.site-header__menu-icon__bar {
			&--top {
				transform: rotate(45deg) scaleX(1.25);
			}
			&--middle {
				opacity: 0;
				transform: scaleX(0);
			}
			&--bottom {
				transform: rotate(-45deg) scaleX(1.25) translateY(1px);
			}
		}

	}

}